# Dependencies
# -----------------

/node_modules

# Assets
# -----------------

/src/views/assets

# Builds
# -----------------

/build
/packages
/installers

# Installers
# -----------------

*.deb

# ROMs
# -----------------

*.sfc

# Config
# -----------------

config.json
