.app
{
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	height: 100vh;
}

.app__error
{
	margin: auto;
}

.app__spinner
{
	margin: auto;
}

.app__presets
{
	width: 100%;
	margin: auto;
}

.app__result
{
	margin: auto;
}

.app__settings
{
	width: 100%;
}
