.sprite
{
	--x: 0px;
	--y: 0px;
	--size: 1;

	display: block;
	text-indent: -9999px;
	background-image: url('./sprites.png');
	background-repeat: no-repeat;
	image-rendering: pixelated;
	background-position: calc(var(--x) * var(--size)) calc(var(--y) * var(--size));
	background-size: calc(382px * var(--size)) calc(354px * var(--size));
}

.sprite--goal-defeat-ganon                                          { --x: 0px;    --y: 0px    }
.sprite--goal-fast-ganon                                            { --x: -50px;  --y: 0px    }
.sprite--goal-all-dungeons                                          { --x: -100px; --y: 0px    }
.sprite--goal-master-sword-pedestal                                 { --x: -150px; --y: 0px    }
.sprite--goal-triforce-hunt                                         { --x: -200px; --y: 0px    }
.sprite--goal-ganon-triforce-hunt                                   { --x: -250px; --y: 0px    }
.sprite--goal-completion                                            { --x: -300px; --y: 0p     }
.sprite--ganon-requirement-0                                        { --x: 0px;    --y: -50px  }
.sprite--ganon-requirement-1                                        { --x: -32px;  --y: -50px  }
.sprite--ganon-requirement-2                                        { --x: -64px;  --y: -50px  }
.sprite--ganon-requirement-3                                        { --x: -96px;  --y: -50px  }
.sprite--ganon-requirement-4                                        { --x: -128px; --y: -50px  }
.sprite--ganon-requirement-5                                        { --x: -160px; --y: -50px  }
.sprite--ganon-requirement-6                                        { --x: -192px; --y: -50px  }
.sprite--ganon-requirement-7                                        { --x: -224px; --y: -50px  }
.sprite--ganon-tower-requirement-0                                  { --x: 0px;    --y: -82px  }
.sprite--ganon-tower-requirement-1                                  { --x: -32px;  --y: -82px  }
.sprite--ganon-tower-requirement-2                                  { --x: -64px;  --y: -82px  }
.sprite--ganon-tower-requirement-3                                  { --x: -96px;  --y: -82px  }
.sprite--ganon-tower-requirement-4                                  { --x: -128px; --y: -82px  }
.sprite--ganon-tower-requirement-5                                  { --x: -160px; --y: -82px  }
.sprite--ganon-tower-requirement-6                                  { --x: -192px; --y: -82px  }
.sprite--ganon-tower-requirement-7                                  { --x: -224px; --y: -82px  }
.sprite--dungeon-item-shuffle-standard                              { --x: 0px;    --y: -114px }
.sprite--dungeon-item-shuffle-maps-compasses                        { --x: -32px;  --y: -114px }
.sprite--dungeon-item-shuffle-maps-compasses-small-keys             { --x: -64px;  --y: -114px }
.sprite--dungeon-item-shuffle-keysanity                             { --x: -96px;  --y: -114px }
.sprite--hints-on                                                   { --x: 0px;    --y: -146px }
.sprite--hints-off                                                  { --x: -64px;  --y: -146px }
.sprite--enemy-difficulty-standard-health-standard-damage           { --x: 0px;    --y: -178px }
.sprite--enemy-difficulty-standard-health-shuffled-damage           { --x: -32px;  --y: -178px }
.sprite--enemy-difficulty-standard-health-random-damage             { --x: -64px;  --y: -178px }
.sprite--enemy-difficulty-easy-health-standard-damage               { --x: -96px;  --y: -178px }
.sprite--enemy-difficulty-easy-health-shuffled-damage               { --x: -128px; --y: -178px }
.sprite--enemy-difficulty-easy-health-random-damage                 { --x: -160px; --y: -178px }
.sprite--enemy-difficulty-hard-health-standard-damage               { --x: -192px; --y: -178px }
.sprite--enemy-difficulty-hard-health-shuffled-damage               { --x: -224px; --y: -178px }
.sprite--enemy-difficulty-hard-health-random-damage                 { --x: -256px; --y: -178px }
.sprite--enemy-difficulty-expert-health-standard-damage             { --x: -288px; --y: -178px }
.sprite--enemy-difficulty-expert-health-shuffled-damage             { --x: -320px; --y: -178px }
.sprite--enemy-difficulty-expert-health-random-damage               { --x: -352px; --y: -178px }
.sprite--item-difficulty-expert-pool-normal-functionality           { --x: 0px;    --y: -210px }
.sprite--item-difficulty-expert-pool-normal-functionality-swordless { --x: 0px;    --y: -242px }
.sprite--item-difficulty-expert-pool-hard-functionality             { --x: -32px;  --y: -210px }
.sprite--item-difficulty-expert-pool-hard-functionality-swordless   { --x: -32px;  --y: -242px }
.sprite--item-difficulty-expert-pool-expert-functionality           { --x: -64px;  --y: -210px }
.sprite--item-difficulty-expert-pool-expert-functionality-swordless { --x: -64px;  --y: -242px }
.sprite--item-difficulty-hard-pool-normal-functionality             { --x: -96px;  --y: -210px }
.sprite--item-difficulty-hard-pool-normal-functionality-swordless   { --x: -96px;  --y: -242px }
.sprite--item-difficulty-hard-pool-hard-functionality               { --x: -128px; --y: -210px }
.sprite--item-difficulty-hard-pool-hard-functionality-swordless     { --x: -128px; --y: -242px }
.sprite--item-difficulty-hard-pool-expert-functionality             { --x: -160px; --y: -210px }
.sprite--item-difficulty-hard-pool-expert-functionality-swordless   { --x: -160px; --y: -242px }
.sprite--item-difficulty-normal-pool-normal-functionality           { --x: -192px; --y: -210px }
.sprite--item-difficulty-normal-pool-normal-functionality-swordless { --x: -192px; --y: -242px }
.sprite--item-difficulty-normal-pool-hard-functionality             { --x: -224px; --y: -210px }
.sprite--item-difficulty-normal-pool-hard-functionality-swordless   { --x: -224px; --y: -242px }
.sprite--item-difficulty-normal-pool-expert-functionality           { --x: -256px; --y: -210px }
.sprite--item-difficulty-normal-pool-expert-functionality-swordless { --x: -256px; --y: -242px }
.sprite--error                                                      { --x: 0px;    --y: -274px }
.sprite--none                                                       { --x: -32px;  --y: -274px }
.sprite--choose                                                     { --x: -64px;  --y: -274px }
.sprite--success                                                    { --x: -96px;  --y: -274px }
.sprite--player                                                     { --x: 0px;    --y: -306px }
.sprite--heart-color-red                                            { --x: 0px;    --y: -338px }
.sprite--heart-color-blue                                           { --x: 0px;    --y: -354px }
.sprite--heart-color-green                                          { --x: 0px;    --y: -370px }
.sprite--heart-color-yellow                                         { --x: 0px;    --y: -386px }
