.settings
{
	box-sizing: border-box;
	padding: 10px;
	font-size: 14px;
	background: #ccc;
	border-top: 1px solid #999;
}

.settings__player
{
	--size: 2;

	position: relative;
	width: 64px;
	height: 64px;
	margin: -42px auto 0;
}

.settings__heart-color
{
	--size: 1;

	position: absolute;
	bottom: 0;
	left: 8px;
	width: 48px;
	height: 16px;
}

.settings__gameplay
{
	display: flex;
	flex-flow: row wrap;
	column-gap: 15px;
	justify-content: center;
	padding: 0;
	margin: 8px 0 0;
}

.settings__gameplay-setting
{
	/* Here to remind that this is here. */
}

.settings__gameplay-setting-name
{
	display: inline;
	padding: 0;
	margin: 0;
	font-weight: bold;

	&::after { content: ':' }
}

.settings__gameplay-setting-value
{
	display: inline;
	padding: 0;
	margin: 0 0 0 5px;
}
